* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  --white: #ffffff;
  --gray: #acacac;
  --placeholder-color: #8a8a8a;
  --light-purple: #706ea8;
  --purple: #1d1c3b;
  --dark-purple: #17162e;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------- HEADER --------------------- */
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 3.8rem auto;
}

h1 {
  color: var(--white);
  font-weight: 600;
  font-size: 2.25rem;
}

/* Search input */
.searcher {
  margin: 3rem auto 1rem;
  position: relative;
}

.search-input {
  color: var(--white);
  background: rgba(255, 255, 255, 0.2);
  width: 38rem;
  height: 3rem;
  border-radius: 8px;
  padding: 0 3rem 0 1rem;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  outline: none;
}

.search-input::placeholder {
  color: var(--placeholder-color);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: URL(../images/search-cancel-btn.svg);
  height: 15px;
  width: 15px;
}

.search-icon {
  content: url(../images/search-icon.svg);
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.search-icon:hover {
  content: url(../images/search-icon-hover.svg);
}

/* Favorite filter */
.favorite-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.lb-check {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
}

#checkbox {
  position: relative;
  background-color: var(--light-purple);
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--light-purple);
  border-radius: 4px;
  cursor: pointer;
}

#checkbox:before {
  content: '';
  margin-right: 1rem;
  display: inline-block;
  vertical-align: text-top;
  width: 1rem;
  height: 1rem;
  background: #17162e;
  border: 1px solid var(--light-purple);
  border-radius: 4px;
}

#checkbox:checked:before {
  color: var(--white);
  background-color: var(--light-purple);
  border: 1px solid var(--light-purple);
}

#checkbox:checked:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 8px;
  background: var(--white);
  width: 2px;
  height: 2px;
  box-shadow:
    2px 0 0 var(--white),
    4px 0 0 var(--white),
    4px -2px 0 var(--white),
    4px -4px 0 var(--white),
    4px -6px 0 var(--white),
    4px -8px 0 var(--white);
  transform: rotate(45deg);
}

/* --------------------- MAIN --------------------- */
.main-content {
  width: 70%;
}

.container-movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  font-size: 1.125rem;
  padding: 1.5rem 2.5rem;
  background-color: var(--purple);
  box-shadow: 32.8387px 24.5482px 79px rgba(0, 0, 0, 0.15), 23.8851px 17.855px 53.2479px rgba(0, 0, 0, 0.121406), 16.6246px 12.4276px 34.4391px rgba(0, 0, 0, 0.10125), 10.9035px 8.15079px 21.3701px rgba(0, 0, 0, 0.0867188), 6.56775px 4.90965px 12.8375px rgba(0, 0, 0, 0.075), 3.46346px 2.58907px 7.6377px rgba(0, 0, 0, 0.0632813), 1.4367px 1.07399px 4.56719px rgba(0, 0, 0, 0.04875), 0.333519px 0.249318px 2.42246px rgba(0, 0, 0, 0.0285938);
  border-radius: 8px;
  margin-bottom: 3rem;
}

.movie-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: 1.5rem;
  color: var(--white);
  flex-basis: 60%;
  margin: 0 2rem;
}

.movie-name {
  font-weight: 500;
}

.icons-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-weight: 400;
}

.icons-movie img {
  width: auto;
  height: 1.25rem;
}

#movie-stars,
.movie-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#movie-stars.lightgreen {
  color: lightgreen;
}

#movie-stars.orange {
  color: orange;
}

#movie-stars.red {
  color: red;
}

#favoriteBtn {
  position: relative;
  vertical-align: text-top;
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
}

#favoriteBtn:before {
  content: url(../images/heart.svg);
  position: absolute;
}

#favoriteBtn:checked:after {
  content: url(../images/favorited.svg);
  position: absolute;
  left: 1px;
  z-index: 1;
}

.movie-description {
  font-weight: 500;
  width: 100%;
  color: var(--gray);
}

.movie-poster {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-poster img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, 0.3));
}

/* --------------------- MEDIA QUERY --------------------- */
@media screen and (max-width: 1100px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  .searcher {
    width: 98%;
    margin: 1rem auto 1rem;
  }

  .search-input {
    width: 100%;
    padding: 0 2rem 0 1rem;
    font-size: 1rem;
  }

  .favorite-filter {
    flex-flow: nowrap;
  }

  .lb-check {
    font-size: 1rem;
  }

  .main-content {
    width: 95%;
  }

  .container-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .movie-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
  }

  .movie-name {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5rem;
    width: 90%;
    padding: 0;
  }
}